// Variables de SINAPSIS DIGITAL

@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'base/base';
@use 'base/animations';
@use 'components/navbar';
@use 'components/hero';
@use 'components/cards';
@use 'components/buttons';
@use 'components/services';
@use "components/footer";
@use 'components/portfolio';
@use 'components/contact';
@use 'base/responsive';











