// Uso de variables SCSS para mantener coherencia visual
// y facilitar el mantenimiento del proyecto
// Variables de SINAPSIS DIGITAL

@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'base/base';
@use 'base/animations';
@use 'components/navbar';
@use 'components/hero';
@use 'components/cards';
@use 'components/buttons';
@use 'components/services';
@use 'components/portfolio';
@use 'components/contact';
@use 'base/responsive';











