@use '../abstracts/variables' as v;
@use 'sass:color';

/* ====================================
   Contacto
==================================== */

.hero-contacto {
  min-height: 70vh;
  background: linear-gradient(
    135deg,
    v.$secondary-color 0%,
    color.adjust(v.$secondary-color, $lightness: -15%) 100%
  );
}

.icono-contacto {
  i {
    opacity: 0.9;
    transition: all 0.3s ease;
  }

  &:hover i {
    transform: scale(1.2);
    opacity: 1;
  }
}

/* Formulario */

.form-control {
  &:focus {
    border-color: v.$primary-color;
    box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.25);
  }
}

/* Cards contacto */

.card {
  border-radius: 1.5rem;
}
