@use '../abstracts/variables' as v;

/* ====================================
   Navbar
==================================== */

.navbar {
  background: transparent;
  transition: all 0.3s ease;
  z-index: 1000;

  .navbar-collapse {
    @media (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;

      background-color: rgba(0, 0, 0, 0.95);
      padding: 1.5rem;
      margin-top: 0.5 rem;
      border-radius: 0.5rem;
    }
  }

  &.scrolled {
    background: v.$secondary-color;
  }

  .navbar-brand {
    color: white;
    font-weight: 700;
  }

  .nav-link {
    color: white;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: v.$primary-color;
    }

    @media (max-width: 991px) {
      color: #ffffff;
      padding: 0.75rem 0;
      font-size: 1.1rem;
    }
  }

  .navbar-nav {
    @media (max-width: 991px) {
      align-items: flex-start;
    }
  }

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}