@use '../abstracts/variables' as v;

/* ====================================
   Navbar
==================================== */

.navbar {
  background: transparent;
  transition: all 0.3s ease;

  &.scrolled {
    background: v.$secondary-color;
  }

  .navbar-brand {
    color: white;
    font-weight: 700;
  }

  .nav-link {
    color: white;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: v.$primary-color;
    }
  }
}
