// ===============================
// Variables — SINAPSIS DIGITAL
// ===============================

$primary-color: #6c63ff;
$secondary-color: #111111;
$background-color: #f8f9fa;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
